.root{
  padding-top: 100px;
  width: 100%;
  .carousel{
    width: 100%;
    padding-top: 30px;
  }
  .swipe{
    text-align: center;
    padding-top: 20px;
  }

}

@media(max-width: 500px){
  .root{
    .wrapper{
      justify-content: center;
      .card{
        margin: 0 auto;
      }
    }
  }
}